p.focus {
	background-color: #d7edef;
}

.cta-box {
	overflow: auto;
	padding: 30px 0 0 20px;
}

.cta-button,
#submit {
	background: #0096cc;
	border: 0 none;
	color: #ffffff;
	cursor: pointer;
	display: block;
	float: left;
	font-size: 1.6em;
	font-weight: bold;
	padding: 12px 30px 8px;
	text-decoration: none;
}

.cta-button:visited {}

.cta-button:hover,
#submit:hover {
	background: #666;
}

.cta-button:active,
#submit:active {
	background: #bbbbbb;
}
