//============
//  VARIABLES
//============
$white: white;
$black:rgb(0,0,0);
$lightgray: lightgray;
$skyblue: lightskyblue;

//===================
//    HEADER
//===================
ion-tabs{
  position:absolute;
  top:0;
  left:0;
  right:0;
  z-index:100;
  ion-tab-bar{
    font-family:sans-serif;
    text-transform:uppercase;
    background:rgba($black,.5);
    //ul{
      list-style:none;
      padding:0;
      display:flex;
      color:$white;
      ion-tab-button{
        cursor:pointer;
        flex:1;
        text-align:center;
        line-height:1.9;
        padding:.50em;
        border-top:solid 2px transparent;
        &:hover{
          border-top-color:$skyblue;
          color:$white;
          background:$black;
        }
        ion-icon{
          color:$skyblue !important;
        }
        ion-label{
          font-size:.65em;
        }
      }
    }
  //}
}