<ion-content >
  <div class="mainContainer" [style.backgroundImage]="'url('+affiche+')'" >

    <div *ngIf="spoiler && spoiler.titre; else elseBlock">
        <div id="description">
            <div id="title">
              <h3>{{bonne_reponse}}</h3>
              <ul id="menu">
                <li>{{ spoiler.description }}</li>
              </ul>
            </div>
            <div id="info">
                Titre du film:
                <input type="text" [(ngModel)]="reponse" (keyup.enter)="verify()"/><br/>
            </div>
          </div>

      <div id="buttons">
        <div class="yellow-btn" *ngIf="loading">
          Chargement...
        </div>
        <div *ngIf="!loading">
          <div class="yellow-btn" (click)="verify()">
            <span>Ok</span>
          </div>
          <div class="yellow-btn" (click)="pass()">
            <span>Passer</span>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="!spoiler && !welcome">
      <div id="description">
        <div id="title">
          <h3>{{bonne_reponse}}</h3>
        </div>
        <ul id="menu">
          <li>Partie terminée!</li><br/>
          <li>Votre score: {{total}}/{{this.done.length}}/li><br/>
          <li>Durée de la partie: {{this.duration}} secondes</li>
        </ul>
      </div>
      <div id="buttons">
        <div id="init">
          <span (click)="init()">Recommencer une partie</span>
        </div>
      </div>
    </div>

    <div *ngIf="welcome">
      <div id="description">
          <div id="title">
            <h3>Spoiler !</h3>
            <ul id="menu">
              <li>Le Quizz qui vous ruine la fin des films!</li>
            </ul>
          </div>
          <div id="info">
              Trouvez le nom des films dont on vous raconte la fin.
          </div>
        </div>
      <div id="buttons">
        <div id="ok" (click)="init()">
          <span>Lancer la partie</span>
        </div>
      </div>
    </div>

  </div>


</ion-content>
