<ion-header>
  <ion-toolbar>
    <ion-title>
      SPOILER!!!
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <div class="mainContainer" [style.background-image]="'url(\''+spoiler.affiche+'\')'" >
    <div v-if="spoiler.titre">

        <div id="description">
            <div id="title">
              <h3>Mes points: {{total}}</h3>
              <ul id="menu">
                <li>Attention! Spoiler :</li>
              </ul>
            </div>
            <div id="info">
                {{ spoiler.description }}<br/>
                <br/>
                <input type="text" [(ngModel)]="reponse" /><br/>
                {{ bonne_reponse }}
            </div>
          </div>

      <div id="buttons">
        <div id="ok">
          <span (click)="verify()">Ok</span>
        </div>
      </div>

    </div>
  </div>


</ion-content>
