<ion-content >
  <div class="mainContainer" [style.backgroundImage]="'url('+affiche+')'" >
    <div v-if="spoiler.titre">

        <div id="description">
            <div id="title">
              <h3>Mes points: {{total}}</h3>
              <ul id="menu">
                <li>{{ spoiler.description }}</li>
              </ul>
            </div>
            <div id="info">
                Titre du film:
                <input type="text" [(ngModel)]="reponse" /><br/>
                <br/>
                <i>{{ bonne_reponse }}</i>
            </div>
          </div>

      <div id="buttons">
        <div id="ok">
          <span (click)="verify()">Ok</span>
        </div>
      </div>

    </div>
  </div>


</ion-content>
