// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';

@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

*,
*::before,
*::after {
  box-sizing: border-box;
}


body {
  font-family: 'Roboto','Helvetica Neue', Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: "liga" on;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header,.footer {
  padding: 1rem;
}

.header {
}

.main {
  //background-color: #ececec;
  background: radial-gradient(ellipse farthest-corner at center top, #ffee75, #ff8930);
  color: #8b9095;

  flex: 1 1 auto;
  // flex: 1 0 auto; // use this to implement sticky footer
  overflow-y: scroll;
  padding: 1rem;
  -webkit-overflow-scrolling: touch;
}

#buttons{
  //height:80px;
  display:flex;
  justify-content:space-between;
  bottom: 0;
  width: 100%;
/*   align-items:center; */
}

.yellow-btn{
  width:49.9%;
  margin-left:auto;
  margin-right: auto;
  text-align:center;
  padding:8px;
  display:flex;
  justify-content:space-around;
  align-items:center;
  //font-size: 36px;
  background-color:#f39c12;
}

@mixin center {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


/*--------------------
App
--------------------*/
.app {
  @include center;
  width: 90%;
  background: #fff;
  border-radius: 15px;
  box-shadow: 0 5px 30px rgba(0, 0, 0, .2);
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  color: black;

  h2 {
    color: #525661;
    font-size: 17px;
    box-shadow: inset 0 1px 0px rgba(0, 0, 0, 0.1);
    padding: 20px 28px 0;
    margin: -6px 0 0 0;
  }
}
