<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <div *ngIf="step === 'welcome'" class="container" >
      <div class="header"><h3>Spoiler Quizz!</h3></div>

      <div class="main">
        <div class="title">
          Le Quizz qui vous spoile les films!
        </div>
        <div class="info app">
            Trouvez le nom des films dont on vous raconte la fin.
            <ul>
              <li> 10 spoilers de films </li>
              <li> 3 essais max. par film </li>
              <li> Le plus rapide gagne!</li>
            </ul>
            <div class="error-message" [innerHTML]="error"></div>
        </div>
      </div>
      <div class="footer">
        <div id="buttons">
          <div class="yellow-btn" (click)="init()">
            <span>Lancer la partie</span>
          </div>
          <div class="yellow-btn" (click)="gotocreate()">
            <span>Créer un spoiler</span>
          </div>
        </div>
      </div>

    </div>

  <div class="container" *ngIf="step === 'question'">
      <div class="header">
        <h3>Spoiler {{past}}/{{taille_partie}}</h3>
      </div>

      <div class="main">
        <div class="title">
        De quel film est-ce la fin ?
      </div>

        <div class="info app">
          {{ spoiler.description }}<br/>
          <br/>
          Titre du film:<br/>
          <input class="reponse" type="text" [(ngModel)]="reponse" (keyup.enter)="verify()"/><br/>
        </div>
      </div>

      <div class="footer">
        <div id="buttons">
          <div class="yellow-btn" *ngIf="loading">
            Chargement...
          </div>
          <div class="yellow-btn" (click)="verify()" *ngIf="!loading">
            <span>Ok</span>
          </div>
          <div class="yellow-btn" (click)="pass()" *ngIf="!loading">
            <span>Passer</span>
          </div>
        </div>
      </div>

    </div>

    <div class="container" *ngIf="step === 'wrong_answer'">
      <div class="header">
        <h3>Mauvaise réponse... </h3>
      </div>

      <div class="main">
        <div class="info">
            Il vous reste {{ max_tentative - tentative }} tentatives.<br/>
            <br/>
            Conseil: Faites attention aux fautes de frappes.

        </div>
      </div>

      <div class="footer">
        <div id="buttons">
          <div class="yellow-btn" *ngIf="loading">
            Chargement...
          </div>
          <div class="yellow-btn" *ngIf="tentative < max_tentative && !loading" (click)="checkTentative()">
            <span >Ré-essayer ?</span>
          </div>
          <div class="yellow-btn" (click)="pass()" *ngIf="!loading">
            <span >Question Suivante</span>
          </div>
        </div>
      </div>
  </div>


  <div class="container" *ngIf="step === 'good_answer' || step === 'has_passed' " >
    <div class="header" *ngIf="step === 'good_answer' ">
      <h3>Bravo! </h3>
    </div>
    <div class="header" *ngIf="step === 'has_passed' ">
      <h3>La réponse était... </h3>
    </div>
    <div class="main" style="background-color:black;" *ngIf="!loading">
      <img [src]="affiche" class="app" />
    </div>
    <div class="main" style="background-color:black;" *ngIf="loading">
      Chargement de l'affiche...
    </div>
    <div class="footer">
      <div id="buttons">
        <div class="yellow-btn" (click)="nextSpoiler()">
          <span>Question Suivante</span>
        </div>
      </div>
    </div>
  </div>


  <div class="container" *ngIf="step === 'result'">
    <div class="header">
      <h3>Partie terminée!</h3>
    </div>
    <div class="main">
        <br/>
        <br/>
        <div class="info app">
          <b>Score: {{total}}/{{this.done.length}} </b> <br/>
          <b>Temps: {{this.duration}} secondes </b> <br/>
          <div *ngFor="let past_spoiler of done; index as i">
            {{i+1}}. {{past_spoiler.titre}}
            
              <svg *ngIf="past_spoiler.found_response" version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 130.2 130.2">
                <circle class="path circle" fill="none" stroke="#73AF55" stroke-width="6" stroke-miterlimit="10" cx="65.1" cy="65.1" r="62.1"/>
                <polyline class="path check" fill="none" stroke="#73AF55" stroke-width="6" stroke-linecap="round" stroke-miterlimit="10" points="100.2,40.2 51.5,88.8 29.8,67.5 "/>
              </svg>
              <svg *ngIf="!past_spoiler.found_response" version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 130.2 130.2">
                <circle class="path circle" fill="none" stroke="#D06079" stroke-width="6" stroke-miterlimit="10" cx="65.1" cy="65.1" r="62.1"/>
                <line class="path line" fill="none" stroke="#D06079" stroke-width="6" stroke-linecap="round" stroke-miterlimit="10" x1="34.4" y1="37.9" x2="95.8" y2="92.3"/>
                <line class="path line" fill="none" stroke="#D06079" stroke-width="6" stroke-linecap="round" stroke-miterlimit="10" x1="95.8" y1="38" x2="34.4" y2="92.2"/>
              </svg><br/>
          </div>
        </div>

    </div>
    <div class="footer">
      <div id="buttons">
        <div class="yellow-btn">
          <span (click)="gotohome()">Retour à l'accueil</span>
        </div>
      </div>
    </div>
  </div>
  </div>
</ion-content>
