<ion-content>
Créer ici votre nouveau SPOILER!<br/>
<br/>
<div *ngIf="this.step === 1" >
  Titre du film:
  <input type="text" [(ngModel)]="titre" (keyup.enter)="search()"/><br/>
  <br/>
  <ion-button (click)="search()" >Rechercher</ion-button>
</div>
<div *ngIf="this.step === 2" >
  Choisissez parmis ces titres originaux:<br/>
  <select class="form-control" required [(ngModel)]="spoiler.id_themoviedb">
    <option *ngFor="let pow of movies" [value]="pow.id">{{pow.title}}</option>
  </select><br/>
  <ion-button (click)="this.step = 3" >Ok</ion-button>
  <ion-button (click)="this.step = 1" >Le film n'est pas dans la liste</ion-button>
</div>

<div *ngIf="this.step === 3">
  Spoiler: <input type="text" [(ngModel)]="spoiler.description" (keyup.enter)="search()" placeholder="et à la fin..."/><br/>
  <ion-button (click)="save()" >Enregistrer</ion-button>
</div>

<div *ngIf="this.step === 4">
  Merci votre spoiler est bien enregistré!
</div>

<div *ngIf="this.loading">
  Chargement en cours...
</div>

</ion-content>
