<ion-content>
Créer ici votre nouveau SPOILER!<br/>
<br/>
<div *ngIf="this.step === 1" >
  Titre du film:
  <input type="text" [(ngModel)]="titre" (keyup.enter)="search()"/><br/>
  <br/>
  <button (click)="search()" >Rechercher</button>
</div>
<div *ngIf="this.step === 2" >
  Choisissez parmis ces titres originaux:<br/>
  <select class="form-control" required [(ngModel)]="spoiler.id_themoviedb" (change)="this.step = 3">
    <option *ngFor="let pow of movies" [value]="pow.id">{{pow.title}}</option>
  </select>
</div>

<div *ngIf="this.step === 3">
  Spoiler: <input type="text" [(ngModel)]="spoiler.description" (keyup.enter)="search()" placeholder="et à la fin..."/><br/>
  <button (click)="save()" >Enregistrer</button>
</div>

<div *ngIf="this.step === 4">
  Merci votre spoiler est bien enregistré!
  <button (click)="save()" >Enregistrer</button>
</div>

<div *ngIf="this.loading">
  Chargement en cours...
</div>

</ion-content>
